<!DOCTYPE html>
<html>
<head>
	<title>Roman Civ Unit 1</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="jumbotron">
		<h1>Roman Civ Unit 1</h1>
		<p class="lead">By Kyle Piira</p>
	</div>
	<div class="container">
		{% for term in terms %}
			<section>
				<h1>{{ term.keyword }}</h1>
				{% for related in term.related %}
					<a href="https://en.wikipedia.org/wiki/{{ related }}">
						<span class="badge badge-pill badge-secondary">
							{{ related }}
						</span>
					</a>
				{% endfor%}
				<p>
					{{ term.summary }}
				</p>
			</section>
			<hr>
		{% endfor %}
	</div>
</body>
</html>